<settings>
	<wizards>
		<parsing>
			<source folder = "C:/folder"/>
			<dns>
				<suffixes>
					<suffixe string="-frontend"/>
					<suffixe string="-backend"/>
				</suffixes>
			</dns>
		</parsing>
		<topologies>
			<ip>
				<ignores>
					<device pattern="prafwadmin"/> <!-- will appear in lost & found -->
					<device type="switch"/> <!-- will appear in lost & found -->
					<interface ip="127.0.0.1"/> <!-- will not be used to process edges -->
					<interface name="coucou"/>
				</ignores>
				<zones>
					<zone name="Prod. Achère" pattern="pra.*"/>
					<zone name="Prod. Champlan" pattern="prc.*"/>
				</zones>
			</ip>
		</topologies>
	</wizards>
</settings>